<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136467272724-vu0trek7v4i5f2vj0ugd5e3leq5cbul9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136467272724-vu0trek7v4i5f2vj0ugd5e3leq5cbul9</string>
	<key>API_KEY</key>
	<string>AIzaSyDvr0K7DM1T5O7zLILgUyinlsxOHonW6BI</string>
	<key>GCM_SENDER_ID</key>
	<string>136467272724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mychatapp</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-7e10e</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-7e10e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136467272724:ios:d1ab03d95505e8b6ec4301</string>
</dict>
</plist>